<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="copy">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="users">UsersList</a></li>
            <li class="breadcrumb-item active"><a href="friendList">Friends</a></li>
            <li class="breadcrumb-item active"><a href="incomingRequests">Incoming requests</a></li>
            <li class="breadcrumb-item active"><a href="outgoingRequest">Outgoing requests</a></li>
        </ol>
    </nav>
</div>
</body>
</html>
