<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Document</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/cssandjs/home.css}" rel="stylesheet"/>
</head>
<body>
    <header class="header">
        <div class="header-container">
            <ul class="nav">
                <li><a href="users" class="nav-link px-2 link-secondary">Users</a></li>
            </ul>

            <div class="nav-register">
                <button type="button" class="btn"><a href="login">Login</a></button>
                <button type="button" class="btn" ><a href="registration">Sign-up</a></button>
            </div>
        </div>
    </header>
</body>
</html>
